API_ID=
API_HASH=
BOT_TOKEN=
ADMINS=
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.mlgdljfanecilocpdxj.supabase.co:5432/postgres
LOG_CHANNEL=-100xxxxxxxxxx #make sure your bot is admin
#Replace all your details 
